.loginH2 {
    padding: 1.5% 0;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginFormContainer__Form {
    color: #000;
    border: 1px solid #000;
    border-radius: 40px;
    width: 40%;
    padding: 5%;
}